/*
 * Globals
 */
 /* Links */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Poppins');
html, body{
  height: 100%;
  width: 100%;
  margin: 0 !important;
  background: #eff6f8;
}


a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */
#home {
  /*height: 100%;*/
  background: linear-gradient(-45deg, #90E8DD, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	font-family: 'Poppins', sans-serif;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#About{
  background: white;
  padding-top: 3rem;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  min-height: 800px;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
  /*        box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 15px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 800px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


#stats{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.sectionClass {
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background: #101F2E;
}


.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background: rgb(16, 31, 46);
}

.projectFactsWrap .item:nth-child(2){
  background: rgb(18, 34, 51);
}

.projectFactsWrap .item:nth-child(3){
  background: rgb(21, 38, 56);
}

.projectFactsWrap .item:nth-child(4){
  background: rgb(23, 44, 66);
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}

.projectFactsWrap .item p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin: 0;
  padding: 10px;
}


.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}


.wrapper {
  padding-top: 30px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

.roles {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.anim {
    height: 50px;
    transition: margin-top 1s ease-in-out;
}

#teamMembers{
    margin: 0 auto;
    max-width: 850px;
    margin-top: -30px;
    margin-bottom: 100px;
    margin-left: 180px;
    height: auto;
    white-space:nowrap;
    text-align:center;
}

.userBox:focus,
.userBox:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.16);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.userBox{
    background-color: #fff;
    width: 30%;
    display:inline-block;
    margin:10px 30px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
    border-bottom: 3px solid #fa3380;
}


.team-1{
  position: relative;
  margin: 0 auto;
  top: 70px;
  background-image: url("IMG_0560.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 75%;
  height: 62%;
  border-radius: 100%;
}

.team-2 {
  position: relative;
  margin: 0 auto;
  top: 70px;
  background-image: url("https://scontent-sjc3-1.cdninstagram.com/vp/a42240e7f762dcfbd43f6a41568c7b40/5BA600C5/t51.2885-15/e35/31686885_168576310648774_3091467045334679552_n.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 75%;
  height: 62%;
  border-radius: 100%;
}


.team-3{
  position: relative;
  margin: 0 auto;
  top: 70px;
  background-image: url(liv.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 75%;
  height: 62%;
  border-radius: 100%;
}

.img-box-1{
  height: 300px;
  background: #cb356b;  fallback for old browsers
  background: -webkit-linear-gradient(to right, #ff6e7f, #bfe9ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6e7f, #bfe9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
}

.img-box-2{
  height: 300px;
   background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #79cbca, #e684ae); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #79cbca, #e684ae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
}

.img-box-3{
  height: 300px;
  background: #3494e6;
  background: -webkit-linear-gradient(to right, #3494e6, #ec6ead);
  background: linear-gradient(to right, #3494e6, #ec6ead);
  border-radius: 5px;
}
